In [52]:
#Importing packages
import pandas as pd
pd.set_option('display.max_columns', 100)
import numpy as np
import matplotlib.pyplot as plt

In [5]:
#Reading in csvs
mich = pd.read_csv('data/usa-2016-presidential-election-by-county-Michigan.csv', delimiter = ';')
fl = pd.read_csv('data/usa-2016-presidential-election-by-county.csv', delimiter = ';')
pa = pd.read_csv('data/usa-2016-presidential-election-by-county-Pennsylvania.csv', delimiter = ';')

In [6]:
mich.head()

,State,ST,Fips,County,Precincts,Votes,Democrats 08 (Votes),Democrats 12 (Votes),Republicans 08 (Votes),Republicans 12 (Votes),...,total08,total12,other08,other12,Other12 Frac,Other08 Frac,Rep12 Frac2,Rep08 Frac2,Dem12 Frac2,Dem08 Frac2
0,Michigan,MI,26141,"Presque Isle County, Michigan",17,7215,3722,3192,3606,3794,...,7505,7080,177,94,0.013277,0.023584,0.543086,0.492085,0.456914,0.507915
1,Michigan,MI,26025,"Calhoun County, Michigan",62,58786,34561,29267,28553,28333,...,64196,58327,1082,727,0.012464,0.016855,0.491892,0.452404,0.508108,0.547596
2,Michigan,MI,26023,"Branch County, Michigan",22,16490,8413,6913,9534,10035,...,18285,17147,338,199,0.011606,0.018485,0.592105,0.531231,0.407895,0.468769
3,Michigan,MI,26155,"Shiawassee County, Michigan",35,34044,19397,17197,16268,15962,...,36415,33679,750,520,0.015440,0.020596,0.481378,0.456133,0.518622,0.543867
4,Michigan,MI,26097,"Mackinac County, Michigan",14,6088,3027,2652,3268,3397,...,6396,6099,101,50,0.008198,0.015791,0.561580,0.519142,0.438420,0.480858

In [7]:
pa.head()

,State,ST,Fips,County,Precincts,Votes,Democrats 08 (Votes),Democrats 12 (Votes),Republicans 08 (Votes),Republicans 12 (Votes),...,total08,total12,other08,other12,Other12 Frac,Other08 Frac,Rep12 Frac2,Rep08 Frac2,Dem12 Frac2,Dem08 Frac2
0,Pennsylvania,PA,42045,"Delaware County, Pennsylvania",429,284832,178870,171792,115273,110853,...,297156,285564,3013,2919,0.010222,0.010139,0.392199,0.391894,0.607801,0.608106
1,Pennsylvania,PA,42127,"Wayne County, Pennsylvania",35,22365,9892,8396,12702,12896,...,22886,21607,292,315,0.014579,0.012759,0.605673,0.562185,0.394327,0.437815
2,Pennsylvania,PA,42015,"Bradford County, Pennsylvania",61,25399,10306,8624,15057,14410,...,25826,23426,463,392,0.016734,0.017928,0.625597,0.593660,0.374403,0.406340
3,Pennsylvania,PA,42069,"Lackawanna County, Pennsylvania",163,102740,67520,61838,39488,35085,...,107876,98015,868,1092,0.011141,0.008046,0.361988,0.369019,0.638012,0.630981
4,Pennsylvania,PA,42021,"Cambria County, Pennsylvania",133,60167,32451,24249,31995,35163,...,65722,60526,1276,1114,0.018405,0.019415,0.591850,0.496462,0.408150,0.503538

In [8]:
fl.head()

,State,ST,Fips,County,Precincts,Votes,Democrats 08 (Votes),Democrats 12 (Votes),Republicans 08 (Votes),Republicans 12 (Votes),...,total08,total12,other08,other12,Other12 Frac,Other08 Frac,Rep12 Frac2,Rep08 Frac2,Dem12 Frac2,"Dem08 Frac2,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
0,Florida,FL,12031,"Duval County, Florida",199,428734,202618,196737,210537,211615,...,415761,411848,2606,3496,0.008489,0.006268,0.518217,0.509584,0.481783,"0.49041642966925203"",,,,,,,,,,,,,,,,,,,,,,,,,,..."
1,Florida,FL,12037,"Franklin County, Florida",8,6003,2134,1845,3818,3570,...,6029,5474,77,59,0.010778,0.012772,0.659280,0.641465,0.340720,"0.358534946236559"",,,,,,,,,,,,,,,,,,,,,,,,,,,,..."
2,Florida,FL,12111,"St. Lucie County, Florida",64,140731,67125,65869,52512,56202,...,120579,123027,942,956,0.007771,0.007812,0.460404,0.438928,0.539596,"0.561072243536698"",,,,,,,,,,,,,,,,,,,,,,,,,,,,..."
3,Florida,FL,12095,"Orange County, Florida",247,545800,273009,273665,186832,188589,...,462711,466359,2870,4105,0.008802,0.006203,0.407977,0.406297,0.592023,"0.5937030408336791"",,,,,,,,,,,,,,,,,,,,,,,,,,,..."
4,Florida,FL,12007,"Bradford County, Florida",14,12098,3430,3325,8136,8219,...,11676,11635,110,91,0.007821,0.009421,0.711972,0.703441,0.288028,"0.296558879474321"",,,,,,,,,,,,,,,,,,,,,,,,,,,,..."

In [13]:
#Viewing all the column names, last 60 were not listed on website..? Will drop them
lst = list(mich.columns)
lst

['State',
 'ST',
 'Fips',
 'County',
 'Precincts',
 'Votes',
 'Democrats 08 (Votes)',
 'Democrats 12 (Votes)',
 'Republicans 08 (Votes)',
 'Republicans 12 (Votes)',
 'Republicans 2016',
 'Democrats 2016',
 'Green 2016',
 'Libertarians 2016',
 'Republicans 2012',
 'Republicans 2008',
 'Democrats 2012',
 'Democrats 2008',
 'Less Than High School Diploma',
 'At Least High School Diploma',
 "At Least Bachelors's Degree",
 'Graduate Degree',
 'School Enrollment',
 'Median Earnings 2010',
 'White (Not Latino) Population',
 'African American Population',
 'Native American Population',
 'Asian American Population',
 'Other Race or Races',
 'Latino Population',
 'Children Under 6 Living in Poverty',
 'Adults 65 and Older Living in Poverty',
 'Total Population',
 'Preschool.Enrollment.Ratio.enrolled.ages.3.and.4',
 'Poverty.Rate.below.federal.poverty.threshold',
 'Gini.Coefficient',
 'Child.Poverty.living.in.families.below.the.poverty.line',
 'Management.professional.and.related.occupations',
 'Service.occupations',
 'Sales.and.office.occupations',
 'Farming.fishing.and.forestry.occupations',
 'Construction.extraction.maintenance.and.repair.occupations',
 'Production.transportation.and.material.moving.occupations',
 'White',
 'Black',
 'Hispanic',
 'Asian',
 'Amerindian',
 'Other',
 'White  Asian',
 'Sire Homogeneity',
 'Median Age',
 'lon',
 'lat',
 'Poor.physical.health.days',
 'Poor.mental.health.days',
 'Low.birthweight',
 'Teen.births',
 'Children.in.single.parent.households',
 'Adult.smoking',
 'Adult.obesity',
 'Diabetes',
 'Sexually.transmitted.infections',
 'HIV.prevalence.rate',
 'Uninsured',
 'Unemployment',
 'Violent.crime',
 'Homicide.rate',
 'Injury.deaths',
 'Infant.mortality',
 'CA',
 'S',
 'MAR',
 'CFS',
 'ACFS',
 'Mean Alc',
 'Max Alc',
 'Mixedness',
 'elevation',
 'Annual Prcp',
 'Winter Prcp',
 'Summer Prcp',
 'Spring Prcp',
 'Autumn Prcp',
 'Annual Tavg',
 'Annual Tmax',
 'Annual Tmin',
 'Winter Tavg',
 'Winter Tmax',
 'Winter Tmin',
 'Summer Tavg',
 'Summer Tmax',
 'Summer Tmin',
 'Spring Tavg',
 'Spring Tmax',
 'Spring Tmin',
 'Autumn Tavg',
 'Autumn Tmax',
 'Autumn Tmin',
 'Nearest County',
 'temp',
 'precip',
 'Temp Bins',
 'Lat Bins',
 'Lon Bins',
 'Precip Bins',
 'Elevation Bins',
 'Geo Shape',
 'Name 16',
 'reporting',
 'Votes16 Trumpd',
 'Votes16 Clintonh',
 'Votes16 Johnsong',
 'Votes16 Steinj',
 'Votes16 Castled',
 'Votes16 De La Fuenter',
 'Est Votes Remaining',
 'Votes16 Mcmulline',
 'Votes16 Hedgesj',
 'Votes16 Kahnl',
 'Votes16 La Rivag',
 'Votes16 Hoeflingt',
 'Votes16 Kenistonc',
 'Votes16 Smithm',
 'Votes16 Atwoodf',
 'Votes16 Kennedya',
 'Votes16 Kopitkek',
 'Votes16 Kotlikoffl',
 'Votes16 Lyttleb',
 'Votes16 Maldonadoj',
 'Votes16 Maturenm',
 'Votes16 Scottr',
 'Votes16 Silvar',
 'Votes16 Soltysike',
 'Votes16 Vacekd',
 'Votes16 Copelands',
 'Votes16 Jacobp',
 'Votes16 Whitej',
 'Votes16 Mooreheadm',
 'Votes16 None Of These Candidates',
 'Votes16 Duncanr',
 'Votes16 Skewesp',
 'Votes16 Giordanir',
 'total16',
 'Other16 Frac',
 'Rep16 Frac2',
 'Dem16 Frac2',
 'Name Prev',
 'Statecode Prev',
 'total08',
 'total12',
 'other08',
 'other12',
 'Other12 Frac',
 'Other08 Frac',
 'Rep12 Frac2',
 'Rep08 Frac2',
 'Dem12 Frac2',
 'Dem08 Frac2']

In [21]:
lst[99:]

['Nearest County',
 'temp',
 'precip',
 'Temp Bins',
 'Lat Bins',
 'Lon Bins',
 'Precip Bins',
 'Elevation Bins',
 'Geo Shape',
 'Name 16',
 'reporting',
 'Votes16 Trumpd',
 'Votes16 Clintonh',
 'Votes16 Johnsong',
 'Votes16 Steinj',
 'Votes16 Castled',
 'Votes16 De La Fuenter',
 'Est Votes Remaining',
 'Votes16 Mcmulline',
 'Votes16 Hedgesj',
 'Votes16 Kahnl',
 'Votes16 La Rivag',
 'Votes16 Hoeflingt',
 'Votes16 Kenistonc',
 'Votes16 Smithm',
 'Votes16 Atwoodf',
 'Votes16 Kennedya',
 'Votes16 Kopitkek',
 'Votes16 Kotlikoffl',
 'Votes16 Lyttleb',
 'Votes16 Maldonadoj',
 'Votes16 Maturenm',
 'Votes16 Scottr',
 'Votes16 Silvar',
 'Votes16 Soltysike',
 'Votes16 Vacekd',
 'Votes16 Copelands',
 'Votes16 Jacobp',
 'Votes16 Whitej',
 'Votes16 Mooreheadm',
 'Votes16 None Of These Candidates',
 'Votes16 Duncanr',
 'Votes16 Skewesp',
 'Votes16 Giordanir',
 'total16',
 'Other16 Frac',
 'Rep16 Frac2',
 'Dem16 Frac2',
 'Name Prev',
 'Statecode Prev',
 'total08',
 'total12',
 'other08',
 'other12',
 'Other12 Frac',
 'Other08 Frac',
 'Rep12 Frac2',
 'Rep08 Frac2',
 'Dem12 Frac2',
 'Dem08 Frac2']

In [32]:
len(lst)
cols = list(range(99,159))

In [30]:
#Dropping last 60 columns that are not useful
mich = mich.drop(mich.columns[cols], axis = 1)
fl = fl.drop(fl.columns[cols], axis = 1)
pa = pa.drop(pa.columns[cols], axis = 1)

In [31]:
mich.head()

,State,ST,Fips,County,Precincts,Votes,Democrats 08 (Votes),Democrats 12 (Votes),Republicans 08 (Votes),Republicans 12 (Votes),...,Winter Tmin,Summer Tavg,Summer Tmax,Summer Tmin,Spring Tavg,Spring Tmax,Spring Tmin,Autumn Tavg,Autumn Tmax,Autumn Tmin
0,Michigan,MI,26141,"Presque Isle County, Michigan",17,7215,3722,3192,3606,3794,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Michigan,MI,26025,"Calhoun County, Michigan",62,58786,34561,29267,28553,28333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Michigan,MI,26023,"Branch County, Michigan",22,16490,8413,6913,9534,10035,...,193.000000,693.000000,791.00,594.000000,471.000000,565.000000,376.000000,503.00,591.00,416.000000
3,Michigan,MI,26155,"Shiawassee County, Michigan",35,34044,19397,17197,16268,15962,...,168.666667,687.333333,803.00,571.666667,455.666667,565.333333,345.666667,498.00,601.00,395.333333
4,Michigan,MI,26097,"Mackinac County, Michigan",14,6088,3027,2652,3268,3397,...,93.750000,626.750000,742.25,511.250000,382.500000,492.500000,272.000000,446.25,536.75,356.000000

In [33]:
#Reading in GDP csvs
fl_gdp = pd.read_csv('data/FL_GDP.csv')
pa_gdp = pd.read_csv('data/PA_GDP.csv')
mi_gdp = pd.read_csv('data/MI_GDP.csv')

In [34]:
fl_gdp.head()

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,2001,2002,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,"""12000""",Florida,5.0,CAGDP2,1.0,...,All industry total,Thousands of dollars,516689571,548540329,...,724582226,737791050,746787458,769309110,800704063,839484064,895146184,938774221,985665384,1039236398
1,"""12000""",Florida,5.0,CAGDP2,2.0,...,Private industries,Thousands of dollars,452122171,479819512,...,626558920,637731835,648068607,669148171,698825151,736427607,790746568,831950620,875752922,925501019
2,"""12000""",Florida,5.0,CAGDP2,3.0,11,"Agriculture, forestry, fishing and hunting",Thousands of dollars,5440678,5301640,...,5574134,6312896,6179726,6682805,6430882,6474553,6849274,6027597,6355291,5536542
3,"""12000""",Florida,5.0,CAGDP2,6.0,21,"Mining, quarrying, and oil and gas extraction",Thousands of dollars,623486,677959,...,1220492,1217382,1752598,1786881,1710925,1277112,1047915,1260414,1490981,1678176
4,"""12000""",Florida,5.0,CAGDP2,10.0,22,Utilities,Thousands of dollars,10338332,9437737,...,16153997,16259055,16347531,16249241,16388972,16945294,17046012,16513875,17833923,18392759

In [38]:
# Getting just rows that represent all Industry total GDP for each state
fl_gdp = fl_gdp.loc[fl_gdp['Description'] == 'All industry total']
pa_gdp = pa_gdp.loc[pa_gdp['Description'] == 'All industry total']
mi_gdp = mi_gdp.loc[mi_gdp['Description'] == 'All industry total']

In [39]:
mi_gdp.head()

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,2001,2002,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,"""26000""",Michigan,3.0,CAGDP2,1.0,...,All industry total,Thousands of dollars,348528981,362271106,...,365591717,386625900,401105395,418857402,432717563,449127695,474301393,491774196,505561200,527095802
34,"""26001""","Alcona, MI",3.0,CAGDP2,1.0,...,All industry total,Thousands of dollars,156606,165469,...,192418,192074,200384,198950,207571,212121,219706,230703,249482,260024
68,"""26003""","Alger, MI",3.0,CAGDP2,1.0,...,All industry total,Thousands of dollars,227842,234731,...,210099,211226,212391,226489,249054,259344,272140,271668,276743,293380
102,"""26005""","Allegan, MI",3.0,CAGDP2,1.0,...,All industry total,Thousands of dollars,2633211,2724201,...,3155391,3298051,3569357,3569240,3815127,3843588,4074115,4324701,4461590,4990944
136,"""26007""","Alpena, MI",3.0,CAGDP2,1.0,...,All industry total,Thousands of dollars,778195,803799,...,933769,985097,1035122,969577,999382,1020106,1065326,1072956,1121079,1159691

In [43]:
#Dropping unnecessary columns from above
fl_gdp = fl_gdp.drop(['Region', 'TableName', 'LineCode', 'IndustryClassification'], axis = 1)
pa_gdp = pa_gdp.drop(['Region', 'TableName', 'LineCode', 'IndustryClassification'], axis = 1)
mi_gdp = mi_gdp.drop(['Region', 'TableName', 'LineCode', 'IndustryClassification'], axis = 1)

In [44]:
fl_gdp.head()

,GeoFIPS,GeoName,Description,Unit,2001,2002,2003,2004,2005,2006,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,"""12000""",Florida,All industry total,Thousands of dollars,516689571,548540329,583725706,635525532,696741064,744464172,...,724582226,737791050,746787458,769309110,800704063,839484064,895146184,938774221,985665384,1039236398
34,"""12001""","Alachua, FL",All industry total,Thousands of dollars,7059330,7452846,7669735,8600253,9131860,9885411,...,10696163,10705229,10700548,10938232,11278653,11769808,12338543,12837620,13350955,14129555
68,"""12003""","Baker, FL",All industry total,Thousands of dollars,339668,363804,378263,407143,437021,485144,...,533149,522672,527582,532783,544141,557680,575047,594002,619110,654846
102,"""12005""","Bay, FL",All industry total,Thousands of dollars,4371307,4749763,5082011,5683337,6315753,6863244,...,7026596,6955519,6912168,6952683,7144131,7477105,7790184,8006117,8286063,8649911
136,"""12007""","Bradford, FL",All industry total,Thousands of dollars,405117,428196,458097,501514,537797,595882,...,608386,592162,596153,592699,610961,604349,626975,643228,691662,733405

In [63]:
# Data set that has data from 2004, 2008, and 2012 elections by county
df = pd.read_csv('data/by_county-2004-2012.csv')

In [64]:
df.head()

,year,state,county,fips,vote_rep,vote_dem,vote_oth,vote_total,pct_rep,pct_dem,pct_oth,winner,runnerup,pct_winner,margin_winner_over_runnerup
0,2004,AL,Autauga County,01001,15196,4758,127,20081,75.7,23.7,0.6,rep,dem,75.7,52.0
1,2004,AL,Baldwin County,01003,52971,15599,750,69320,76.4,22.5,1.1,rep,dem,76.4,53.9
2,2004,AL,Barbour County,01005,5899,4832,46,10777,54.7,44.8,0.4,rep,dem,54.7,9.9
3,2004,AL,Bibb County,01007,5472,2089,39,7600,72.0,27.5,0.5,rep,dem,72.0,44.5
4,2004,AL,Blount County,01009,17386,3938,180,21504,80.9,18.3,0.8,rep,dem,80.9,62.6

In [65]:
#Spliting by states
pa_older = df.loc[df['state'] == 'PA']
fl_older = df.loc[df['state'] == 'FL']
mi_older = df.loc[df['state'] == 'MI']

In [66]:
pa_older.head()

,year,state,county,fips,vote_rep,vote_dem,vote_oth,vote_total,pct_rep,pct_dem,pct_oth,winner,runnerup,pct_winner,margin_winner_over_runnerup
2215,2004,PA,Adams County,42001,28247,13764,217,42228,66.9,32.6,0.5,rep,dem,66.9,34.3
2216,2004,PA,Allegheny County,42003,271925,368912,4632,645469,42.1,57.2,0.7,dem,rep,57.2,15.1
2217,2004,PA,Armstrong County,42005,18925,12025,147,31097,60.9,38.7,0.5,rep,dem,60.9,22.2
2218,2004,PA,Beaver County,42007,39916,42146,481,82543,48.4,51.1,0.6,dem,rep,51.1,2.7
2219,2004,PA,Bedford County,42009,16606,6016,57,22679,73.2,26.5,0.3,rep,dem,73.2,46.7